.Button {
    text-decoration: none;
    font-size: 13px;
    background-color: #0b5563;
    min-width: 90px;
    color: #fddd0c;
    font-weight: bold;
    text-shadow: 2px 2px 0px #2f7b8a;
    display: inline-block;
    text-align: center;
    padding-top: 22%;
}

.Button:hover {
    color: #2f7b8a;
    text-shadow: 2px 2px 0px #fddd0c;
}