.Label {
    margin: 0px 10px;
    width: 11%;
}

.Input {
    width: 80%;
}

.Text {
    width: 91%;
    text-align: center;
}

.Calculated {
    position: relative;
    margin: 10px 0 0 10px;
}

.NormalField {
    margin: 10px 10px;
    display: flex;
}

.DeleteButton {
    left: 45%;
    position: relative;
    border-radius: 30px;
}

.Multifield {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px gray;
    border-radius: 3px;
    margin: 0 10px 0 10px;
    overflow-y: scroll;
    height: 100px;
}

.Multifield .Field {
    display: flex;
    height: 30px;
    margin: 5px;
}

.Multifield .Field .FieldLabel {
    width: 20%;
    margin: 3px 3px 7px 5px;
}

.Multifield .Field .InputFieldLabel {
    width: 20%;
    margin: 3px 3px 7px 5px;
    background-color: white;
    border: 1px;
    border-color: gray;
    border-style: solid;
}

.Multifield .Field .FieldInput {
    left: 40%;
    position: relative;
    height: 60%;
}

.Multifield .Field .FieldButton {
    background-color: white;
    color: #0b5563;
    font-size: 15px;
}

.Multifield .Field .FieldButton:hover {
    background-color: #0b5563;
    color: white;
}
